<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ViewsAndTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D92870661EFF3F7B00D59083</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D99505921EF9F8A500B135E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D99505A61EF9F8A500B135E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D99505B11EF9F8A500B135E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
